#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
}

.rotate-img {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.fa-solid {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fa-solid:hover {
  color: #ff4c68;
}

.font-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.paragraph-style {
  color: #8f8f8f;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 991.20px) {
  .rotate-img {
    width: 65%;
    transform: rotate(0);
    position: static;
  }

  #title {
    text-align: center;
  }
}
